/**
 * Global Styles - Main Import File
 * Foundation styles for the entire application
 * Refactored from 689 lines into modular CSS files
 */

/* Import all global stylesheets in order */
@import './global-variables.css';
@import './global-reset.css';
@import './global-utilities.css';
@import './global-components.css';
