/**
 * Tags Component Styles
 * Phase 3B: Tags/Labels
 * Modularized into separate files for maintainability
 */

/* Import tag component modules */
@import './tag-badges.css';
@import './tag-picker.css';
@import './tag-manager.css';
@import './tag-filter.css';
